$font-stack: sans-serif
$primary-color: #333333

$header-height: 30px
$footer-height: 15vh

=border-radius($radius)
  -webkit-border-radius: $radius
  -moz-border-radius: $radius
  -ms-border-radius: $radius
  border-radius: $radius

html,
body,
.main
  font-family: $font-stack
  color: $primary-color
  width: 100%
  height: 100vh
  margin: 0
  padding: 0
  overflow: hidden

.main
  background: url('img/main/bg.jpg')
  background-size: cover
  background-position: center

.header
  display: block
  position: fixed
  height: $header-height
  width: 100%
  background: rgba(100, 100, 100, 0.5)

div.content
  width: 75%
  height: calc(100% - #{$header-height})
  margin: $header-height auto 0
  text-align: center

  .gateway
    position: absolute
    top: $header-height
    width: inherit
    text-align: center

    .category-viewer
      width: 100%
      white-space: nowrap

div.category
  box-sizing: border-box
  width: 175px
  height: 40vh
  display: inline-block
  background: lightgray
  margin: 10px
  font-size: 1.2em

  &#cat-social
    background: url('img/category_bg/social.jpg')
    background-size: cover

  //&#cat-programming
    //background: url('img/category_bg/programming.jpg')
    //background-size: cover

  p
    box-sizing: border-box
    float: left
    padding: 5px 10px
    margin: 0
    color: white
    background: rgba(50, 50, 50, 0.75)

div.search
  $sb-height: 35px
  $lr-margin: 10px
  height: $sb-height
  width: 100%
  max-width: 700px
  display: inline-block
  margin: 10vh $lr-margin 7vh
  text-align: left

  $hi-color: rgba(255, 255, 255, 0.85)

  #search-left, input
    -moz-box-sizing: border-box
    -webkit-box-sizing: border-box
    box-sizing: border-box

  #search-left
    float: left
    width: $sb-height
    height: 100%
    display: inline-block
    background: $hi-color

  input
    box-sizing: border-box
    display: inline-block
    height: 100%
    width: 200px
    background: rgba(255, 255, 255, 0.5)
    border: none
    font-size: 1em
    font-style: italic
    padding: 5px 10px
    color: #4d4d4d
    transition: width 0.3s, transform 0.3s


    &:focus
      outline: none
      background: $hi-color
      width: calc(100% - #{$sb-height} - 2*#{$lr-margin})
      transform: translateY(-3px)
      -webkit-box-shadow: 5px 4px 5px -1px rgba(0,0,0,0.5)
      -moz-box-shadow: 5px 4px 5px -1px rgba(0,0,0,0.5)
      box-shadow: 5px 4px 5px -1px rgba(0,0,0,0.5)

    &:hover
      background: $hi-color

div.shortcut-bar-wrapper
  width: inherit
  height: 20vh
  position: fixed
  bottom: 0

div.shortcut-bar
  display: flex
  justify-content: space-between
  width: 100%
  max-width: 700px
  height: 10vh
  padding: 0 10px
  box-sizing: border-box
  margin: 0 auto

  .shortcut
    display: inline-block
    width: 10vh
    height: 10vh
    box-sizing: border-box
    padding: 10px
    //dev
    background: rgba(255, 255, 255, 0.5)

.footer
  position: fixed
  bottom: 0
  left: 0
  display: block
  width: 100%
  height: $footer-height

  &::after
    content: ""
    background: linear-gradient(to bottom, transparent, black)
    opacity: 0.75
    top: 0
    left: 0
    bottom: 0
    right: 0
    position: absolute
    z-index: -1

