<div class="category-viewer">
  {{#each models}}
    <div class="category" id="ctgy-{{attributes.name}}" style="background-image: url('{{attributes.background}}')">
      <p>{{attributes.name}}</p>
      <ul>
      </ul>
    </div>
  {{/each}}
</div>
