<div class="shortcut-bar">
  {{#each models}}
    <div class="shortcut" id="sc-{{attributes.name}}">
      <a href="{{attributes.href}}">
        <img src="{{attributes.img}}" />
      </a>
    </div>
  {{/each}}
</div>
